
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://spmtst.lenovo.com/assets/css/common.css">
    <link rel="stylesheet" href="https://spmtst.lenovo.com/assets/css/elementui.css">
    <link rel="stylesheet" href="https://spmtst.lenovo.com/assets/css/index.css">
    <link rel="stylesheet" href="https://spmtst.lenovo.com/assets/css/iconcss/iconfont.css">
</head>
<body>
<div id="app" v-cloak @click="app">
    <div class="main">
        <!--顶部开始-->
        <div class="top" style="width: 10%;float: left;display:flex;">
            <img class="lenovoLogo" src="../img/LenovoLogo.png" style="width: 100%;height:100%;">
        </div>
        <div class="top" style="width: 19%;float: right;background-color: rgb(84,92,100)">
            <div class="rightList">
                <ul>
                    <li>
                        <i class="icon iconfont icon-liaotian1" @click="imStart"></i>
                        <span class="tip" @click="imStart">{{imAllNum}}</span>
                    </li>
                    <li  @click.stop="showList(0)" class="gy-li">
                        <el-dropdown>
                            <i class="icon iconfont icon-header-user">
                                <span class="el-dropdown-link user">{{userName}}</span>
                            </i>
                            <el-dropdown-menu slot="dropdown">
                                <div class="min-width-134">
                                    <el-dropdown-item class="dropdownli" @click.native="updateUserInfo">{{
                                        $t("userInfo")}}</el-dropdown-item>
                                </div>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </li>
                    <li @click.stop="exit" style="cursor: pointer">
                        <i class="icon iconfont icon-header-logout"></i>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 顶部结束 -->
        <!-- 一级菜单 -->
        <el-menu
                :default-active="activeIndex"
                class="el-menu"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b"
                style="width: 81%">
            <!--动态路由到子组件 将不可见的路径隐藏-->
            <template v-for="item in menuList">
                <el-submenu :index="item.index">
                    <!--用el ui 的title进行solt分发菜单-->
                    <template slot="title">{{item.name}}</template>
                    <!--item.name和item.children.name来配置菜单栏和子菜单栏的名称-->
                    <el-menu-item v-for="child in item.children" :index="child.path" :key="child.path">
                        {{child.name}}
                    </el-menu-item>
                </el-submenu>
            </template>
        </el-menu>
        <div class="shareTit" :style="shareTitLeft">
            <div class="leftButton" @click="left">
                <i class="icon iconfont icon-tab-beginning"></i>
            </div>
            <div class="nav">
                <div class="tabs" :style="tabStyle">
		      		<span
                            :class="{active:spanActiveNum==-1}"
                            @click="spanClick(-1)"
                    >
		      		Work Page
		      		</span>
                    <span
                            v-for="(item,index) in tablist"
                            class="tabSpan"
                            :class="{active:spanActiveNum==item.id}"
                            :id="item.id"
                            :code="item.code"
                            @click="spanClick(index,item.id, item)"
                            @contextmenu.prevent="showMenu"
                    >
		      			{{item.name}}
		      			<i @click.stop="closeOne(item)" :id="item.id" class="icon iconfont icon-tab-close"></i>
		      		</span>
                </div>
            </div>
            <div class="rightButton" @click="right">
                <i class="icon iconfont icon-tab-end"></i>
            </div>
        </div>
        <div class="rightMenu" v-show="rightMenuShow" :style="rightMenuStyle">
            <div @click="closeTag(0)">{{ $t("closeOther") }}</div>
            <div @click="closeTag(1)">{{ $t("closeAll") }}</div>
        </div>
        <!--iframe部分-->
        <div class="content" :style="contentLeft" id="iframeContent">
            <iframe id='iframe' v-show="iframeShowNum==-1" src="/index/home" frameborder="0" width="100%"
                    height="100%">
            </iframe>
            <iframe
                    v-for="item in tablist"
                    :_id="item.id"
                    :id="item.id"
                    :src="item.url"
                    :key="item.id"
                    v-show="iframeShowNum==item.id"
                    frameborder="0" width="100%" height="100%">
            </iframe>
        </div>
    </div>
    <div v-show="modalShow" class="modal"></div>
</div>
<script src="https://spmtst.lenovo.com/assets/javascript/vue.min.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/elementui.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/axios.min.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/jquery-3.0.0.min.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/i18n.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/common.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/stomp.js"></script>
<script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/sockjs.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/axios.js"></script>
<script src="https://spmtst.lenovo.com/assets/javascript/axiosExt.js"></script>
<script src="https://spmtst.lenovo.com/modular/system/workPage.js"></script>
</body>
</html>
