<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.lenovoscs.dao.MapperMapper">
  <resultMap id="BaseResultMap" type="com.lenovo.lenovoscs.bean.Mapper">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ponumber" jdbcType="INTEGER" property="ponumber" />
    <result column="asnnumber" jdbcType="INTEGER" property="asnnumber" />
    <result column="ivnumber" jdbcType="INTEGER" property="ivnumber" />
    <result column="pnnumber" jdbcType="INTEGER" property="pnnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ponumber, asnnumber, ivnumber, pnnumber
  </sql>
  <select id="selectByExample" parameterType="com.lenovo.lenovoscs.bean.MapperExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mapper
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="SelectMapperbyPoAndPN" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from mapper
    where ponumber = #{ponumber,jdbcType=INTEGER} and pnnumber = #{pnnumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mapper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deletePNByPNnumber" parameterType="java.lang.Integer">
    delete from mapper
    where pnnumber = #{pnnumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPonumber">
    delete from mapper
    where ponumber = #{ponumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lenovo.lenovoscs.bean.MapperExample">
    delete from mapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lenovo.lenovoscs.bean.Mapper">
    insert into mapper (id, ponumber, asnnumber,
      ivnumber, pnnumber)
    values (#{id,jdbcType=INTEGER}, #{ponumber,jdbcType=INTEGER}, #{asnnumber,jdbcType=INTEGER},
      #{ivnumber,jdbcType=INTEGER}, #{pnnumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lenovo.lenovoscs.bean.Mapper">
    insert into mapper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ponumber != null">
        ponumber,
      </if>
      <if test="asnnumber != null">
        asnnumber,
      </if>
      <if test="ivnumber != null">
        ivnumber,
      </if>
      <if test="pnnumber != null">
        pnnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ponumber != null">
        #{ponumber,jdbcType=INTEGER},
      </if>
      <if test="asnnumber != null">
        #{asnnumber,jdbcType=INTEGER},
      </if>
      <if test="ivnumber != null">
        #{ivnumber,jdbcType=INTEGER},
      </if>
      <if test="pnnumber != null">
        #{pnnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lenovo.lenovoscs.bean.MapperExample" resultType="java.lang.Long">
    select count(*) from mapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mapper
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ponumber != null">
        ponumber = #{record.ponumber,jdbcType=INTEGER},
      </if>
      <if test="record.asnnumber != null">
        asnnumber = #{record.asnnumber,jdbcType=INTEGER},
      </if>
      <if test="record.ivnumber != null">
        ivnumber = #{record.ivnumber,jdbcType=INTEGER},
      </if>
      <if test="record.pnnumber != null">
        pnnumber = #{record.pnnumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mapper
    set id = #{record.id,jdbcType=INTEGER},
      ponumber = #{record.ponumber,jdbcType=INTEGER},
      asnnumber = #{record.asnnumber,jdbcType=INTEGER},
      ivnumber = #{record.ivnumber,jdbcType=INTEGER},
      pnnumber = #{record.pnnumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.lenovoscs.bean.Mapper">
    update mapper
    <set>
      <if test="ponumber != null">
        ponumber = #{ponumber,jdbcType=INTEGER},
      </if>
      <if test="asnnumber != null">
        asnnumber = #{asnnumber,jdbcType=INTEGER},
      </if>
      <if test="ivnumber != null">
        ivnumber = #{ivnumber,jdbcType=INTEGER},
      </if>
      <if test="pnnumber != null">
        pnnumber = #{pnnumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.lenovoscs.bean.Mapper">
    update mapper
    set ponumber = #{ponumber,jdbcType=INTEGER},
      asnnumber = #{asnnumber,jdbcType=INTEGER},
      ivnumber = #{ivnumber,jdbcType=INTEGER},
      pnnumber = #{pnnumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPoAndPn" parameterType="com.lenovo.lenovoscs.bean.Mapper">
    update mapper
    set asnnumber = #{asnnumber,jdbcType=INTEGER},
      ivnumber = #{ivnumber,jdbcType=INTEGER}
    where ponumber = #{ponumber,jdbcType=INTEGER} and pnnumber = #{pnnumber,jdbcType=INTEGER}
  </update>
</mapper>
