<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.lenovoscs.dao.POMapper">
  <resultMap id="BaseResultMap" type="com.lenovo.lenovoscs.bean.PO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ponumber" jdbcType="INTEGER" property="ponumber" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
    <result column="ship_to" jdbcType="VARCHAR" property="shipTo" />
    <result column="sold_to" jdbcType="VARCHAR" property="soldTo" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="exchange_provision_item" jdbcType="VARCHAR" property="exchangeProvisionItem" />
    <result column="condition_item" jdbcType="VARCHAR" property="conditionItem" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="carrier" jdbcType="VARCHAR" property="carrier" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="net_due_date" jdbcType="TIMESTAMP" property="netDueDate" />
    <result column="po_date" jdbcType="TIMESTAMP" property="poDate" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="drop_order_time" jdbcType="TIMESTAMP" property="dropOrderTime" />
    <result column="target_date" jdbcType="TIMESTAMP" property="targetDate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ponumber, payment, ship_to, sold_to, order_type, exchange_provision_item, condition_item,
    remark, carrier, customer, net_due_date, po_date, delivery_date, drop_order_time,
    target_date, created_by, last_modified_by, flag
  </sql>
  <select id="selectByExample" parameterType="com.lenovo.lenovoscs.bean.POExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from po
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="getAllASN" parameterType="com.lenovo.lenovoscs.bean.POExample" resultMap="BaseResultMap">
    <!--select po.* , flag.status
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from po,flag
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    where flag.flag = 2  and flag.flag = po.flag
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>-->
    SELECT po.*,flag.status FROM po,flag WHERE po.flag = flag.flag and flag.flag = 2
  </select>
  <!--<select id="GetPOInfo" resultType="com.lenovo.lenovoscs.bean.POExcel">
    select * from po LIMIT  10
  </select>-->

  <select id="getAllIV" parameterType="com.lenovo.lenovoscs.bean.POExample" resultMap="BaseResultMap">
    SELECT po.*,flag.status FROM po,flag WHERE po.flag = flag.flag and flag.flag = 3
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from po
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectPOByponumber" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from po
    <where>
      <if test="_parameter!=null">
        ponumber = #{_parameter}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from po
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deletePOByponumber" parameterType="java.lang.Integer">
    delete from po
    where ponumber = #{ponumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lenovo.lenovoscs.bean.POExample">
    delete from po
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lenovo.lenovoscs.bean.PO">
    insert into po (id, ponumber, payment,
      ship_to, sold_to, order_type,
      exchange_provision_item, condition_item, remark,
      carrier, customer, net_due_date,
      po_date, delivery_date, drop_order_time,
      target_date, created_by, last_modified_by,
      flag)
    values (#{id,jdbcType=BIGINT}, #{ponumber,jdbcType=INTEGER}, #{payment,jdbcType=VARCHAR},
      #{shipTo,jdbcType=VARCHAR}, #{soldTo,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR},
      #{exchangeProvisionItem,jdbcType=VARCHAR}, #{conditionItem,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{carrier,jdbcType=VARCHAR}, #{customer,jdbcType=VARCHAR}, #{netDueDate,jdbcType=TIMESTAMP},
      #{poDate,jdbcType=TIMESTAMP}, #{deliveryDate,jdbcType=TIMESTAMP}, #{dropOrderTime,jdbcType=TIMESTAMP},
      #{targetDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{lastModifiedBy,jdbcType=VARCHAR},
      #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lenovo.lenovoscs.bean.PO">
    insert into po
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ponumber != null">
        ponumber,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="shipTo != null">
        ship_to,
      </if>
      <if test="soldTo != null">
        sold_to,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="exchangeProvisionItem != null">
        exchange_provision_item,
      </if>
      <if test="conditionItem != null">
        condition_item,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="carrier != null">
        carrier,
      </if>
      <if test="customer != null">
        customer,
      </if>
      <if test="netDueDate != null">
        net_due_date,
      </if>
      <if test="poDate != null">
        po_date,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="dropOrderTime != null">
        drop_order_time,
      </if>
      <if test="targetDate != null">
        target_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="lastModifiedBy != null">
        last_modified_by,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ponumber != null">
        #{ponumber,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="shipTo != null">
        #{shipTo,jdbcType=VARCHAR},
      </if>
      <if test="soldTo != null">
        #{soldTo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="exchangeProvisionItem != null">
        #{exchangeProvisionItem,jdbcType=VARCHAR},
      </if>
      <if test="conditionItem != null">
        #{conditionItem,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null">
        #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="netDueDate != null">
        #{netDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="poDate != null">
        #{poDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dropOrderTime != null">
        #{dropOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetDate != null">
        #{targetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedBy != null">
        #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lenovo.lenovoscs.bean.POExample" resultType="java.lang.Long">
    select count(*) from po
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update po
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ponumber != null">
        ponumber = #{record.ponumber,jdbcType=INTEGER},
      </if>
      <if test="record.payment != null">
        payment = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.shipTo != null">
        ship_to = #{record.shipTo,jdbcType=VARCHAR},
      </if>
      <if test="record.soldTo != null">
        sold_to = #{record.soldTo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null">
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangeProvisionItem != null">
        exchange_provision_item = #{record.exchangeProvisionItem,jdbcType=VARCHAR},
      </if>
      <if test="record.conditionItem != null">
        condition_item = #{record.conditionItem,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.carrier != null">
        carrier = #{record.carrier,jdbcType=VARCHAR},
      </if>
      <if test="record.customer != null">
        customer = #{record.customer,jdbcType=VARCHAR},
      </if>
      <if test="record.netDueDate != null">
        net_due_date = #{record.netDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.poDate != null">
        po_date = #{record.poDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliveryDate != null">
        delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dropOrderTime != null">
        drop_order_time = #{record.dropOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.targetDate != null">
        target_date = #{record.targetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifiedBy != null">
        last_modified_by = #{record.lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update po
    set id = #{record.id,jdbcType=BIGINT},
      ponumber = #{record.ponumber,jdbcType=INTEGER},
      payment = #{record.payment,jdbcType=VARCHAR},
      ship_to = #{record.shipTo,jdbcType=VARCHAR},
      sold_to = #{record.soldTo,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      exchange_provision_item = #{record.exchangeProvisionItem,jdbcType=VARCHAR},
      condition_item = #{record.conditionItem,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      carrier = #{record.carrier,jdbcType=VARCHAR},
      customer = #{record.customer,jdbcType=VARCHAR},
      net_due_date = #{record.netDueDate,jdbcType=TIMESTAMP},
      po_date = #{record.poDate,jdbcType=TIMESTAMP},
      delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      drop_order_time = #{record.dropOrderTime,jdbcType=TIMESTAMP},
      target_date = #{record.targetDate,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      last_modified_by = #{record.lastModifiedBy,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lenovo.lenovoscs.bean.PO">
    update po
    <set>
      <if test="ponumber != null">
        ponumber = #{ponumber,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="shipTo != null">
        ship_to = #{shipTo,jdbcType=VARCHAR},
      </if>
      <if test="soldTo != null">
        sold_to = #{soldTo,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="exchangeProvisionItem != null">
        exchange_provision_item = #{exchangeProvisionItem,jdbcType=VARCHAR},
      </if>
      <if test="conditionItem != null">
        condition_item = #{conditionItem,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null">
        carrier = #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="netDueDate != null">
        net_due_date = #{netDueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="poDate != null">
        po_date = #{poDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dropOrderTime != null">
        drop_order_time = #{dropOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetDate != null">
        target_date = #{targetDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedBy != null">
        last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lenovo.lenovoscs.bean.PO">
    update po
    set ponumber = #{ponumber,jdbcType=INTEGER},
      payment = #{payment,jdbcType=VARCHAR},
      ship_to = #{shipTo,jdbcType=VARCHAR},
      sold_to = #{soldTo,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      exchange_provision_item = #{exchangeProvisionItem,jdbcType=VARCHAR},
      condition_item = #{conditionItem,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      carrier = #{carrier,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      net_due_date = #{netDueDate,jdbcType=TIMESTAMP},
      po_date = #{poDate,jdbcType=TIMESTAMP},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      drop_order_time = #{dropOrderTime,jdbcType=TIMESTAMP},
      target_date = #{targetDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updatePOByponumber" parameterType="com.lenovo.lenovoscs.bean.PO">
    update po
    set
      payment = #{payment,jdbcType=VARCHAR},
      ship_to = #{shipTo,jdbcType=VARCHAR},
      sold_to = #{soldTo,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      exchange_provision_item = #{exchangeProvisionItem,jdbcType=VARCHAR},
      condition_item = #{conditionItem,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      carrier = #{carrier,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      net_due_date = #{netDueDate,jdbcType=TIMESTAMP},
      po_date = #{poDate,jdbcType=TIMESTAMP},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      drop_order_time = #{dropOrderTime,jdbcType=TIMESTAMP},
      target_date = #{targetDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
      <where>
        <if test="ponumber!=null">
          ponumber = #{ponumber,jdbcType=INTEGER}
        </if>
      </where>
  </update>

  <update id="updatePOFlag">
    update po left join pn on (pn.number = po.ponumber)
      set
      payment = #{payment,jdbcType=VARCHAR},
      ship_to = #{shipTo,jdbcType=VARCHAR},
      sold_to = #{soldTo,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      exchange_provision_item = #{exchangeProvisionItem,jdbcType=VARCHAR},
      condition_item = #{conditionItem,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      carrier = #{carrier,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      net_due_date = #{netDueDate,jdbcType=TIMESTAMP},
      po_date = #{poDate,jdbcType=TIMESTAMP},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      drop_order_time = #{dropOrderTime,jdbcType=TIMESTAMP},
      target_date = #{targetDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      pn.flag = 2,
      po.flag = 2
    <where>
      <if test="ponumber!=null">
        po.ponumber = #{ponumber,jdbcType=INTEGER}
        and pn.number = #{ponumber,jdbcType=INTEGER}
      </if>
    </where>
  </update>

  <update id="updateASNFlag">
    update po left join pn on (pn.number = po.ponumber)
    set
    payment = #{payment,jdbcType=VARCHAR},
    ship_to = #{shipTo,jdbcType=VARCHAR},
    sold_to = #{soldTo,jdbcType=VARCHAR},
    order_type = #{orderType,jdbcType=VARCHAR},
    exchange_provision_item = #{exchangeProvisionItem,jdbcType=VARCHAR},
    condition_item = #{conditionItem,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    carrier = #{carrier,jdbcType=VARCHAR},
    customer = #{customer,jdbcType=VARCHAR},
    net_due_date = #{netDueDate,jdbcType=TIMESTAMP},
    po_date = #{poDate,jdbcType=TIMESTAMP},
    delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
    drop_order_time = #{dropOrderTime,jdbcType=TIMESTAMP},
    target_date = #{targetDate,jdbcType=TIMESTAMP},
    created_by = #{createdBy,jdbcType=VARCHAR},
    last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
    pn.flag = 3,
    po.flag = 3
    <where>
      <if test="ponumber!=null">
        ponumber = #{ponumber,jdbcType=INTEGER}
      </if>
    </where>
  </update>

  <update id="updateIVFlag">
    update po left join pn on (pn.number = po.ponumber)
    set
    payment = #{payment,jdbcType=VARCHAR},
    ship_to = #{shipTo,jdbcType=VARCHAR},
    sold_to = #{soldTo,jdbcType=VARCHAR},
    order_type = #{orderType,jdbcType=VARCHAR},
    exchange_provision_item = #{exchangeProvisionItem,jdbcType=VARCHAR},
    condition_item = #{conditionItem,jdbcType=VARCHAR},
    remark = #{remark,jdbcType=VARCHAR},
    carrier = #{carrier,jdbcType=VARCHAR},
    customer = #{customer,jdbcType=VARCHAR},
    net_due_date = #{netDueDate,jdbcType=TIMESTAMP},
    po_date = #{poDate,jdbcType=TIMESTAMP},
    delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
    drop_order_time = #{dropOrderTime,jdbcType=TIMESTAMP},
    target_date = #{targetDate,jdbcType=TIMESTAMP},
    created_by = #{createdBy,jdbcType=VARCHAR},
    last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
    pn.flag = 4,
    po.flag = 4
    <where>
      <if test="ponumber!=null">
        ponumber = #{ponumber,jdbcType=INTEGER}
      </if>
    </where>
  </update>
   <!--<update id="updatePOByponumber" parameterType="com.lenovo.lenovoscs.bean.PO">
     update po
     <set>
       <if test="payment != null">
         payment = #{payment,jdbcType=VARCHAR},
       </if>
       <if test="shipTo != null">
         ship_to = #{shipTo,jdbcType=VARCHAR},
       </if>
       <if test="soldTo != null">
         sold_to = #{soldTo,jdbcType=VARCHAR},
       </if>
       <if test="orderType != null">
         order_type = #{orderType,jdbcType=VARCHAR},
       </if>
       <if test="exchangeProvisionItem != null">
         exchange_provision_item = #{exchangeProvisionItem,jdbcType=VARCHAR},
       </if>
       <if test="conditionItem != null">
         condition_item = #{conditionItem,jdbcType=VARCHAR},
       </if>
       <if test="remark != null">
         remark = #{remark,jdbcType=VARCHAR},
       </if>
       <if test="carrier != null">
         carrier = #{carrier,jdbcType=VARCHAR},
       </if>
       <if test="customer != null">
         customer = #{customer,jdbcType=VARCHAR},
       </if>
       <if test="netDueDate != null">
         net_due_date = #{netDueDate,jdbcType=TIMESTAMP},
       </if>
       <if test="poDate != null">
         po_date = #{poDate,jdbcType=TIMESTAMP},
       </if>
       <if test="deliveryDate != null">
         delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
       </if>
       <if test="dropOrderTime != null">
         drop_order_time = #{dropOrderTime,jdbcType=TIMESTAMP},
       </if>
       <if test="targetDate != null">
         target_date = #{targetDate,jdbcType=TIMESTAMP},
       </if>
       <if test="createdBy != null">
         created_by = #{createdBy,jdbcType=VARCHAR},
       </if>
       <if test="lastModifiedBy != null">
         last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
       </if>
       <if test="flag != null">
         flag = #{flag,jdbcType=INTEGER},
       </if>
     </set>
        where ponumber = #{ponumber,jdbcType=INTEGER},
  </update>-->
</mapper>
